* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color: #e8c166 !important;
    background-attachment: fixed;    
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Greycliff' !important;
    font-size: 12px;
    color: white !important;
    font-weight: 800 !important;
    font-style: normal !important;
    height: 100vh;
    overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800 !important;
    font-style: normal !important;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.text-center {
    text-align: center;
}

.btn {
    background-color: #6d9da3 !important;
    border-color: #6d9da3 !important;
    width: 100%;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;
        margin:-90px 0px 0px -198px;
    }
}

h1 {
    font-size:24px;    
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}


#login-header {
    text-align: center;
    margin-bottom: 30px;
}

#login-header img {
    width: 40%;
    margin-bottom: 15px;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.errorLabel {
    color: darkred;
}
